@page


<br />
<h1>Codehaks.TagHelpers Samples</h1>
<hr />

<h2>Alert TagHelper</h2>
<alert type="Danger" message="This is danger!"></alert>
<alert type="Success" message="And this is a success!"></alert>


<h2> Stars TagHelper</h2>

<h5>Simple 5 star rating</h5>
<p> <stars level="3"></stars> </p>

<hr />

<h5> 4 stars of 10</h5>
<p> <stars level="4" count="10"></stars> </p>
<hr />

<h5> Add style and padding</h5>
<stars level="3" count="5" de-active-style="color:yellowgreen;padding:3px" active-style="color:darkgreen;padding:3px"></stars>
<hr />